<template>
    <div class="contenedor">
        <div class="cabecera">

        </div>
        <div class="cuerpo_1">
            <div class="contenedor_formulario">
                <b-container fluid="">
                    <form @submit.prevent="subir">
                        <b-row>
                            <b-col sm="12" class="mt-3">
                                <h1>
                                    Registro
                                </h1>
                            </b-col>

                            <b-col sm="12" class="mt-3">
                                <label>Nombre completo (Este aparecerá en el carnet)</label>
                                <b-form-input type="text" v-model="nombre" autocomplete="off" required size="sm"></b-form-input>
                            </b-col>

                            

                            <b-col sm="12" class="mt-3">
                                <label>Foto</label>
                                <b-form-file
                                    v-model="foto_producto"
                                    :state="Boolean(foto_producto)"
                                    placeholder="Elije archivo"
                                    drop-placeholder="Arrastra archivo aquí..."
                                    size="sm"
                                    required
                                    
                                ></b-form-file>

                            </b-col>

                            <b-col sm="12" class="mt-3 d-flex flex-row-reverse">
                                <b-button type="submit" variant="success" size="sm">Guardar</b-button>
                            </b-col>
                        </b-row>
                    </form>
                </b-container>
            </div>
        </div>

        <Cargando v-if="loading" />

    </div>
</template>

<script>
import axios from 'axios'
import { atexto } from '@/components/functions/alertas'
import { mapState } from 'vuex'
import moment from 'moment'

import Cargando from '@/components/Cargando.vue'

export default {
    name: 'Formulario',
    components:{
        Cargando
    },
    computed: {
        ...mapState(['preferencias'])
    },
    data() {
        return {
            nombre: '',
            foto_producto: null,
            loading: false
        }
    },
    methods: {
        async subir(){

            try {
                let f = {
                    nombre: this.nombre.trim().toUpperCase(),
                    dpi: this.dpi == '' ? 'N/A' : this.dpi.trim(),
                    iglesia: this.nombre_iglesia.trim().toUpperCase(),
                    pais: this.pais,
                    area: this.area.trim().toUpperCase(),
                    region: this.region.trim(),
                    cargo: this.cargo,
                    telefono: this.telefono.trim(),
                    periodo: moment(Date.now()).format('YYYY')
                }

                this.set_loading(true)

                let formData = new FormData()
                formData.append('data', JSON.stringify(f))
                formData.append('files.foto', this.foto_producto)

                let upl = await axios.post(`${this.preferencias.IP}/api/registros`, formData)
                
                if(upl.status == 200){
                    
                    this.nombre = ''
                    this.dpi = ''
                    this.nombre_iglesia = ''
                    this.pais = ''
                    this.area = ''
                    this.region = ''
                    this.cargo = ''
                    this.telefono = ''
                    this.foto_producto = null


                    atexto({titulo: 'Guardado!', cuerpo: 'Registro realizado con éxito', icono: 'success'})
                    this.set_loading(false)

                }
                
            } catch (e) {

                if(e.response.status == 403){
                    atexto({titulo: 'ATENCIÓN!', cuerpo: 'No se están recibiendo registros', icono: 'info'})
                    this.set_loading(false)
                }else{
                    if(e.response.data.error.message == 'This attribute must be unique'){
                        atexto({titulo: 'ERROR!', cuerpo: 'Ya existe este registro', icono: 'error'})
                        this.set_loading(false)
    
                    }else if(e.response.data.error.message == 'Archivo invalido'){
                        atexto({titulo: 'Error!', cuerpo: 'Sólo se permiten imágenes', icono: 'warning'})
                        this.set_loading(false)
    
                    }else{
                        atexto({titulo: 'Error!', cuerpo: 'Hubo un problema...', icono: 'error'})
                        this.set_loading(false)
    
                    }
                }

            }
        },
        set_loading(val){
            this.loading = val
        }
        //...mapMutations(['set_loading'])
    },
}
</script>

<style>
    .contenedor{
        width: 100%;
        height: 100vh;
    }
        .cabecera{
            width: 100%;
            height: 30px;
            background-color: #4E52BE;
        }

        .cuerpo_1{
            width: 100%;
            height: calc(100vh - 30px);
            overflow: auto;
            background-color: #E8E8F7;
            padding-top: 20px;
        }
            .contenedor_formulario{
                width: 640px;
                
                height: auto;
                background-color: white;
                border-radius: 4px;
                border: 1px solid #e9e9e9;
                margin: auto;
                padding-bottom: 20px;
            }

    @media only screen and (max-width: 640px) {
        .contenedor_formulario {
            width: 100%;
        }
    }
</style>
