<template>
    <div class="contenedor_cargando">
        <div class="cuadro_img">
            <img src="@/assets/Ripple.gif" width="100%;" alt="">
        </div>
    </div>
</template>

<script>
export default {
    name: 'Cargando',
    data() {
        return {
            
        }
    },
}
</script>

<style>
    .contenedor_cargando{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
        .cuadro_img{
            width: 200px;
            height: 200px;
        }
</style>
